       <div id="characters" class="page">
            <div class="overlay">

                <div class="bg">
                    <img src="img/bg-overlay.jpg"/>
                </div>


                <div class="chars">

                    <div class="char steven">
                        <img class="image" src="img/sh.png"/>
                        <div class="name">
                            <span class="shadow">Steven Hardy</span>
                            <span class="text">Steven Hardy</span>
                        </div>
                        <div class="text">
                            Hey there. So you need a specialist who can boost your flagging approval ratings and deliver a stunning election success? Or perhaps you want your company splashed all over the leading publications? Well, I’m not your guy. You’ve heard of Google – use it. There’s plenty such people out there. Don’t bother telling me all about your “unsolvable” problem – I can already tell that it’s boring. Not long ago you could have got my attention by buying me a measure of whiskey, or – even better – covering my gambling debts. But my ex, Jane, has already exploited that method. So, hard luck for you. Hard luck for me too, as it goes.
                        </div>
                    </div>


                    <div class="char jane">
                        <img class="image" src="img/jp.png"/>
                        <div class="name">
                            <span class="shadow">Jane Parker</span>
                            <span class="text">Jane Parker</span>
                        </div>
                        <div class="text">
                            Jane Parker — that’s me. Pleasure to meet you! Ho hum, what can I tell you about myself? Well, I was the editor of the high school paper in my senior year. My college volleyball team came second in the whole state. I lived with Steve for six years – taking into account his character I think I deserve a medal for that too. Why did we split up? It’s a long story. Anyways, when the chance came up to work with such a high-profile client as McGreedy, Steve agreed to get on board, and we’re working together again. So, anything’s possible!
                        </div>
                    </div>


                    <div class="char mc">
                        <img class="image" src="img/mc.png"/>
                        <div class="name">
                            <span class="shadow">Mr. McGreedy</span>
                            <span class="text">Mr. McGreedy</span>
                        </div>
                        <div class="text">
                           Who’s asking about James McGreedy? I was governor of this state for many years. Then senator. You could have easily found that information from official sources and not distracted me with your questions. Or do you think that I’ll give you my entire authorized biography – warts and all? In that case you are either extremely clever or extremely stupid. Let’s ascertain that before continuing. You want to know about my son James? He’s a grown-up boy — he can tell you himself.
                        </div>
                    </div>



                    <div class="char jj">
                        <img class="image" src="img/jj.png"/>
                        <div class="name">
                            <span class="shadow">JJ</span>
                            <span class="text">JJ</span>
                        </div>
                        <div class="text">
                            I’m called James McGreedy, just like my pa. He’s a big shot. We don’t always see eye-to-eye – he doesn’t like the fact that I’ve always got a different chick on my arm, and he wants me to cut down on my drinking. Running for governor was his idea. Thing is, that old lifestyle suited me down to the ground. By the way, did Jessica send you? No? Just don’t tell me you’re from that anally-retentive detective... what’s his... Bogart! Don’t ruin my day.
                        </div>
                    </div>


                    <div class="char bogard">
                        <img class="image" src="img/bog.png"/>
                        <div class="name">
                            <span class="shadow">Detective Bogard</span>
                            <span class="text">Detective Bogard</span>
                        </div>
                        <div class="text">
                            I’m Detective Bogart, and... Honestly, I don’t like talking about myself. I believe that a person should be defined by their actions not words. You know, the police force is full of chatterboxes these days. Sometimes I feel like I’m the last detective of the old breed left! We were brought up in a totally different way... Today’s youth go into force solely for money and the social benefits, but we were ready to take a bullet at any point. We had ideals. What do I think about the suspect Steven Hardy? I think he’ll do time.
                        </div>
                    </div>

                    </div>


            </div>


            <div class="charIcons">
                <div class="wrapper">

                    <div class="item" key="steven">
                        <img src="img/charIconRatio.png"/>
                    </div>
                            <div class="spacer"></div>
                    <div class="item" key="jane">
                        <img src="img/charIconRatio.png"/>
                    </div>
                            <div class="spacer"></div>
                    <div class="item" key="mc">
                        <img src="img/charIconRatio.png"/>
                    </div>
                                                      <div class="spacer"></div>
                    <div class="item" key="jj">
                        <img src="img/charIconRatio.png"/>
                    </div>
                                                                                <div class="spacer"></div>
                    <div class="item" key="bogard">
                        <img src="img/charIconRatio.png"/>
                    </div>

                </div>
            </div>

        </div>
