<div id="contacts" class="page">
    <div class="wrapper">
        <div class="container">
                <a target="_blank" href="http://www.facebook.com/understudio"><img src="img/fb.png"/></a>
                <a target="_blank" href="https://store.narr8.me/catalog/serial/50484d055050e8a34c000015"><img src="img/naar.png"/></a>
                <a target="_blank" href="mailto:hello@understudio.eu"><img src="img/mail.png"/></a>
        </div>
    </div>
</div>