<div id="main" class="page">
    <div class="steven">
            <div class="smokes">
                <img class="smoke smoke1" src="img/smoke1.png"/>
                <img class="smoke smoke2" src="img/smoke2.png"/>
                <img class="smoke smoke3" src="img/smoke3.png"/>
                <img class="smoke smoke4" src="img/smoke1.png"/>
                <img class="smoke smoke5" src="img/smoke2.png"/>
                <img class="smoke smoke6" src="img/smoke3.png"/>
            </div>
        <img src="img/steven-main.png"/>
        <div class="cigarette">
            <img class="siga1" src="img/siga1.png"/>
            <img class="siga2" src="img/siga2.png"/>
        </div>

    </div>
    <img class="title" src="img/title.png"/>
</div>