<div id="nav">
    <div class="menu">
        <a class="trailer" href="#/trailer">trailer</a>
        <a class="chars" href="#/characters">characters</a>
        <a class="process" href="#/process">process</a>
        <a class="contacts" href="#/contacts">contacts</a>
    </div>
    <div class="social">
        <div class="fb-like" data-href="https://www.facebook.com/Understudio" data-width="120" data-layout="button_count" data-action="like" data-show-faces="false" data-share="false"></div>
        <span style="display: none;>
            <a href="http://www.facebook.com/understudio"><div class="sprite icon-fb"></div></a>
            <a href="http://www.twitter.com"><div class="sprite icon-tw"></div></a>
            <a href="http://www.pinterest.com"><div class="sprite icon-pin"></div></a>
            <a href="http://www.google.com"><div class="sprite icon-be"></div></a>
            <a href="http://www.vimeo.com"><div class="sprite icon-vi"></div></a>
        </span>
    </div>
    <div class="rail">
        <div class="triangle menu-triangle"></div>
    </div>
    <a href="#/home" class="logoBox">
        <img logo1 src="img/logo.png"/>
        <img logo2 src="img/logo2.png"/>
    </a>
</div>