@media (max-width: 1440px) {

    #nav {
        height: 41px;
    }

    #nav .menu {
        padding-top: 10px;
    }

    #nav .menu a {
        margin: 0px 24px;
        line-height: 28px;
        font-size: 24px;
    }

    #nav .social {
        top: 10px;
    }

    #nav .rail {
        position: absolute;
        bottom: -17px;
        height: 17px;
        width: 100%;
    }

    #nav .rail .triangle {
        display: block;
        position: absolute;
        left: 340px;
        opacity: 0;
        transition: opacity .8s;
        -webkit-transition: opacity .8s;
        -moz-transition: opacity .8s;
        -ms-transition: opacity .8s;
        -o-transition: opacity .8s;
        width: 32px;
        height: 17px;
        margin-left: -16px;

        background-image: url("../img/menu-triangle-small.png");
    }

    #pages {
        top: 41px;
    }

    #characters .chars .char > .text {
        font-size: 18px;
    }

    #characters .chars .char .name .shadow {
        left: -30px;
        font-size: 96px;
    }

    #characters .chars .char .name > .text {
        font-size: 34px;
    }

    #gallery .wrapper {
        transform: scale(0.7, 0.7);
        -webkit-transform: scale(0.7, 0.7);
        -moz-transform: scale(0.7, 0.7);
        -ms-transform: scale(0.7, 0.7);
        -o-transform: scale(0.7, 0.7);
    }

}

@media (max-width: 800px) {

    #nav {
        height: 41px;
    }

    #nav .menu {
        padding-top: 10px;
    }

    #nav .menu a {
        margin: 0px 24px;
        line-height: 28px;
        font-size: 16px;
    }

    #nav .social {
        top: 10px;
    }

    #nav .rail {
        position: absolute;
        bottom: -17px;
        height: 17px;
        width: 100%;
    }

    #nav .rail .triangle {
        display: block;
        position: absolute;
        left: 340px;
        opacity: 0;
        transition: opacity .8s;
        -webkit-transition: opacity .8s;
        -moz-transition: opacity .8s;
        -ms-transition: opacity .8s;
        -o-transition: opacity .8s;
        width: 32px;
        height: 17px;
        margin-left: -16px;

        background-image: url("../img/menu-triangle-small.png");
    }

    #pages {
        top: 41px;
    }

    #characters .chars .char > .text {
        font-size: 18px;
    }

    #characters .chars .char .name .shadow {
        left: -30px;
        font-size: 96px;
    }

    #characters .chars .char .name > .text {
        font-size: 34px;
    }

    #gallery .wrapper {
        transform: scale(0.4, 0.4);
        -webkit-transform: scale(0.4, 0.4);
        -moz-transform: scale(0.4, 0.4);
        -ms-transform: scale(0.4, 0.4);
        -o-transform: scale(0.4, 0.4);
    }

}